<% include ./partials/header %>

<div class="ui container">
  <h1 class="ui header">Results</h1>
  <div class="ui segment">
    <h4 class="ui header">You scored: <%=score%>/3</h4>
  </div>
</div>

<% include ./partials/footer %>