<% include ./partials/header %>



<div class="ui container center aligned segment">
  <div class="ui text container">
      <h1 class="ui header">Welcome to Quizzy</h1>
      <h2>Create a personal quiz to test your friends.</h2>
      <h2>Do they really know you?</h2>
      <div class="ui huge primary button">
        <a href="/q/register">Get Started<i class="right arrow icon"></i></a>
      </div>
  </div>
</div>


<% include ./partials/footer %>
